# на будущее (мб прога 5-8)

[submodule "Programming/Labs/lab7"]
	path = Programming/Labs/lab7
	url = https://github.com/sub-myitmo/lab7-java.git
[submodule "Web/Labs/lab1"]
	path = Web/Labs/lab1
	url = https://github.com/sub-myitmo/web-1.git
[submodule "Web/Labs/lab2"]
	path = Web/Labs/lab2
	url = https://github.com/sub-myitmo/web-2.git
[submodule "Programming/Labs/lab5"]
	path = Programming/Labs/lab5
	url = https://github.com/sub-myitmo/lab5-java.git
[submodule "Programming/Labs/lab6"]
	path = Programming/Labs/lab6
	url = https://github.com/sub-myitmo/lab6-java.git
[submodule "Programming/Labs/lab8"]
	path = Programming/Labs/lab8
	url = https://github.com/sub-myitmo/lab8-java.git
[submodule "Web/Labs/lab4"]
	path = Web/Labs/lab4
	url = https://github.com/sub-myitmo/web-4.git
